@{
    ViewBag.Title = "PassUsingViewData";
}
<h1>PassUsingViewBag</h1>
<b>Random value first:</b> @ViewData["LeftNumber"]<br/>
<b>Random value second:</b> @ViewData["RightNumber"]<br/>

<b>Add:</b><br/>
@ViewData["Summarize"]<br/>

<b>Subtraction:</b><br/>
@ViewData["Subtraction"]<br/>

<b>Multiply:</b><br/>
@ViewData["Multiply"]<br/>

<b>Divide:</b><br/>
@ViewData["Divide"]<br/>
