@model Lab2_1.Models.CalculatorModel
@{
    ViewBag.Title = "PassUsingModel";
}
<h1>PassUsingModel</h1>
<b>Random value first:</b> @Model.LeftNumber<br />
<b>Random value second:</b> @Model.RightNumber<br />

<b>Add:</b><br />
@Model.Summarize<br />

<b>Subtraction:</b><br />
@Model.Subtraction<br />

<b>Multiply:</b><br />
@Model.Multiply<br />

<b>Divide:</b><br />
@Model.Divide<br />