@{
    ViewBag.Title = "PassUsingViewBag";
}
<h1>PassUsingViewBag</h1>
<b>Random value first:</b> @ViewBag.LeftNumber<br/>
<b>Random value second:</b> @ViewBag.RightNumber<br/>

<b>Add:</b><br/>
@ViewBag.Summarize<br/>

<b>Subtraction:</b><br/>
@ViewBag.Subtraction<br/>

<b>Multiply:</b><br/>
@ViewBag.Multiply<br/>

<b>Divide:</b><br/>
@ViewBag.Divide<br/>
